<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/LytvyniukDima/index.json" />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="LytvyniukDima" />
            <add key="ClearTextPassword" value="ed24df27ba46b92ec71003c66eba0b3af5dd0265" />
        </github>
    </packageSourceCredentials>
</configuration>
